# Python
__pycache__/
*.py[cod]
.egg-info/
*.so

# Jupyter
.ipynb_checkpoints/

# Virtual environments
.env/
.venv/
env/
venv/

# OS
.DS_Store
Thumbs.db

# Data & outputs
data/
outputs/
runs/
checkpoints/
artifacts/

# Logs
*.log
